@{
    ViewBag.Title = "Task Screen";
}
@model PagedResult<AppTaskListDto>

<div class="row">
    <div class="col-9">
        <a asp-area="Admin" asp-controller="AppTask" asp-action="Create">Create</a>
    </div>
    <div class="col-3">
        <form asp-area="Admin" asp-controller="AppTask" asp-action="List" method="get">
            <div class="input-group mb-3">
                <input name="s" type="text" class="form-control" placeholder="Search task" aria-label="Search task" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
      
    </div>
</div>
@{
    if (!string.IsNullOrEmpty(ViewBag.s))
    {
        <div class="row">
            <div class="alert alert-secondary" role="alert">
                You see the records according to <strong>@ViewBag.s</strong>  search filter.
                <a asp-area="Admin" asp-controller="AppTask" asp-action="List" asp-route-s="" class="float-end">Remove the filter</a>
            </div>
        </div>
    }
}


<table class="table table-sm mt-2">
    <thead>
        <tr>

            <th scope="col">Task</th>
            <th scope="col">Priority Definition</th>
            <th scope="col">Task Statu</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data?.Count > 0)
        {
            @foreach (var item in Model.Data)
            {
                <tr>

                    <td>@item.Title</td>
                    <td>@item.PriorityDefinition</td>
                    <td>@(item.State ? "Completed" : "Not Completed")</td>
                    <td>
                        <a asp-area="Admin" asp-controller="AppTask" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detail</a>
                        <a asp-area="Admin" asp-controller="AppTask" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary btn-sm" onclick="return confirm('Are you sure want to delete?')">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No task found.</td>
            </tr>
        }
    </tbody>
</table>
<div class="float-end">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item">
                    <a class="page-link @(Model.ActivePage==i?"active":"")" asp-area="Admin" asp-controller="AppTask" asp-action="List" asp-route-activePage="@i" asp-route-s="@ViewBag.s">@i</a>
                    </li>
            }
         

        </ul>
    </nav>
</div>
